/***************************************
	The Basics
	Red-ish: #ff2b42;
	Black-ish: #131313;
	White: #fff;
***************************************/

h1, h2, h3, p, span{
	padding: 40px;
}
body{
	position: relative;
	overflow: hidden;
}

video{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	z-index: -9999999;
}

.container{
	display: grid;
	position: relative;
	
	width: 82vw;
	
	justify-content: stretch;
	margin-top: 0;
	margin-right: 0;
	
	align-items: stretch;
	padding: 0;
}

/***************************************
	Header (Above the fold)
***************************************/
#header-container{
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	height: 75vh;
	outline: 5px dotted blue;
}

.header-item{
	outline: 10px dashed blue;
}

.header-title{
	font-family: 'Merriweather', serif;
	font-size: 100px;
    font-weight: 700;
	letter-spacing: 2px;
	color: #fff;
    padding: 20px;
	background-color: #ff2b42; /*(#ff2b42)*/
	z-index: -99;
	width: 100%;
	margin-top: 0;
	grid-area: 1 / 1 / 3 / grid-col-end;
	
}


.big-letter{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	font-family: 'Merriweather', serif;
	font-size: 150vh;
    font-weight: 1000;
	
	outline: 5px black dotted;
}

.theX{
	margin-top: -17%;
	margin-right: -20%;

}

.inner-letter{
	background: #ff2b42;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.theV{
	font-size: 80vh;
	margin-top: 2%;
	margin-right: 10%;
	transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
}

.theR{
	margin-top: -17%;
	margin-right: -20%;
}

/***************************************
	Sidenav
***************************************/
.sidenav {
	height: 100%; 
	width: 18vw;
	position: fixed; 
	top: 0;
	left: 0;
	position: fixed;
	background-color: #131313; 
	padding-top: 40vh;
	overflow: hidden;
	z-index: 1;
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	display: block;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}
/***************************************
	Stuff-panel
***************************************/
#panel-container{
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-evenly;
	height: 300px;
	outline: 5px dotted green;
	
}

.panel-item{
	outline: 5px dashed orange;
}


/*******************************
KNOCKOUT TEXT*/

.knockout {
  /* Ensure the bottom layer is full screen */
  height: 100vh;
  width: 100%;
  /* Add a colorful texture and cutom font-styling */
  background-image: linear-gradient(to left, #ff4e50 , #f9d423);
  text-transform: uppercase;
}

/* Knockout text font sizing for each line */

text:nth-child(2) {
  font-size: 5em;
}

text:nth-child(3) {
  font-size: 5.1em;
}

text:nth-child(4) {
  font-size: 15em;
}





