/***************************************
	The Basics
	Red-ish: #ff2b42;
	Black-ish: #131313;
	White: #fff;
***************************************/

h1, h2, h3, p, span{
	padding: 7vw;
}

body{
	position: relative;
	overflow-x: hidden;
}

video{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: -9999;
}

.container{
	display: grid;
	position: relative;
	width: 85vw;
	justify-content: stretch;
	margin-top: 0;
	margin-right: 0;
	align-items: stretch;
	padding: 0;
}

/***************************************
	Header (Above the fold)
***************************************/
#header-container{
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 40% 40% 20%;
	grid-template-areas: 
		"header-area header-area letter-area letter-area"
		"header-area header-area letter-area letter-area"
		"panel1 panel2 panel3 panel4";
	justify-items: stretch; /* on the x-axis */
	align-items: stretch; /* on the y-axis */
	grid-gap: 0;
	height: 100vh;
}

.header-area{
	grid-area: header-area;
	background-color: #ff2b42;
	
	height: 100%;
}

.header-title{
	font-family: 'Passion One', cursive;
	/*font-family: 'Playfair Display', serif;*/
	/*font-family: 'Alfa Slab One', cursive;*/
	font-size: 100px;
	color: #fff;
}

.header-signature{
	font-family: 'Merriweather', serif;
	font-size: 4vh;
    font-weight: 700;
	letter-spacing: 0.5px;
	color: #fff;
	background-color: #ff2b42; /*(#ff2b42)*/
}

.knockout-text-container{
	grid-area: letter-area;
	height: 100%;
	width: 100%;
	overflow: visible;
}

.big-letter{
	z-index: -99;
	font-family: 'Merriweather', serif;
    font-weight: 900;
}

.panel-uno{
	grid-area: panel1;
}

.panel-dos{
	grid-area: panel2;
}

.panel-tres{
	grid-area: panel3;
}

.panel-quatro{
	grid-area: panel4;
}

.panel-item{
	background-color: #fff;
	width: 100%;
}

/***************************************
	Sidenav
***************************************/
.sidenav {
	height: 100%; 
	width: 15vw;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #131313; 
	padding-top: 40vh;
	overflow: hidden;
	z-index: 1;
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	display: block;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/***************************************
	Mission Section
***************************************/
.quote{
	text-align: center;
	display: block;
	font-size: 4vh;
	color: #000;
	font-family: 'Permanent Marker', cursive;
}

	
